<div class="container">
  <div class="row">
    <h3>Users</h3>
    <div class="column">
      <ul>
        <div class="col-md-12" style="margin-top:100px">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <% @users.each do |user| %>
                    <% if current_user.id != user.id %>
                      <p><%= link_to user.name, user %></p>
                    <% end %>
                  <% end %>
                </div>
              </div>
          </div>
        </div>
      </ul>
    </div>
  </div>
</div>

