<!-- Page Header -->
<!-- Set your background image for this header on the line below. -->

<div class="mbr-section__container mbr-section__container--isolated container" style="padding-top: 200px">
  <div class="row">
    <div class="mbr-box mbr-box--fixed mbr-box--adapted">
      <div class="mbr-box__magnet mbr-box__magnet--top-right mbr-section__left col-sm-6" style="padding-left: 200px">

        <% @top = Post.new %>
        <% if @posts %>
            <% @top = @posts.first %>
            <% @posts.each do |post| %>
                <% if post.likes > @top.likes %>
                    <% @top = post %>
                <% end %>
            <% end %>
        <% end %>
        <% if @top != NIL%>
            <br/>
            <%= link_to image_tag(@top.image(:medium), class: 'media-object'), "users/#{@top.user_id}", target: '/' %>
            <h4>Featuring <%= @top.caption %> with a whopping <%= @top.likes %> likes! </h4>
        <% end %>
      </div>
      <div class="mbr-box__magnet mbr-class-mbr-box__magnet--center-left col-sm-6 mbr-section__right">
        <div class="mbr-section__container mbr-section__container--middle">
          <div class="mbr-header mbr-header--auto-align mbr-header--wysiwyg">
            <h3 class="mbr-header__text">Featuring the Top Dog of Berkeley</h3>

          </div>
        </div>
        <div class="mbr-section__container mbr-section__container--middle">
          <div class="mbr-article mbr-article--auto-align mbr-article--wysiwyg">
            <p>
              Find who's the top dog of Berkeley! The domestic dog (Canis lupus familiaris or Canis familiaris) is a domesticated canid which has been selectively bred for millennia for various behaviors, sensory capabilities, and physical attributes.
            </p>
          </div>
        </div>
        <div class="mbr-section__container">
          <div class="mbr-buttons mbr-buttons--auto-align btn-inverse"><a class="btn btn-lg btn-default" href="/users" target="_blank">To see more dogs</a></div>
        </div>
      </div>

    </div>
  </div>
</div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">

      </div>
    </div>
  </div>

<!-- Main Content -->
<div class="container">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
      <div class="post-preview">

          <h2 class="post-title">
            Now for the other dogs...
          </h2>
          <div class="row">
              <% if @posts %>
                <% @posts.reverse.each do |post| %>
                    <% if post.id != @top.id %>
                      <div class="col-xs-3" style="width: 180px; height: 200px">

                         <%= link_to image_tag(post.image(:small), class: 'media-object'), "users/#{post.user_id}", target: '_blank' %>

                      </div>
                    <% end %>
                    <% end %>
            <% end %>
          </div>
         </div>
      <!-- Pager -->
      <ul class="pager">
        <li class="next">
          <a href="users">Older Posts &rarr;</a>
        </li>
      </ul>
    </div>
  </div>
</div>



